.carousel_div{
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carousel_title{
    font: {
        family: Permanent marker,
    };
    color: white;
    text-align: center;

}
.carousel_links_div{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10vh;
}
.bottom_carousel_link{
    color: white;
    text-decoration: underline;
    font: {
        family: 'IM Fell English SC';
        weight: 600
    }
}

.bottom_carousel_link:visited{
    color: white;
}

.carousel .slide{
    background-color: rgba(0,0,0,0) !important
}
.control-dots{
    padding-left: 0px
}

@media (max-width: 600px){
    .carousel {
        width: 80vw !important
    }
    .carousel_links_div{
        width: 80vw;
    }
}