.projects{
    height: 200vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project_div{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

#project1_info{
    height: 100vh;
    width: 50vw;
    background-image: url('../../Photos/dog.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#project1_carousel{
    background: {
        image: url('../../Photos/abstract-orange.jpg');
        size: cover;
    };
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#project2_info{
    height: 100vh;
    width: 50vw;
    background: {
        image: url('../../Photos/update_bokeh.jpg');
        size: cover;
    }
}
#project2_info_dim{
    height: 100vh;
    width: 50vw;
    background-color: rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#project2_carousel{
    background: {
        image: url('../../Photos/abstract-purple-2.jpg');
        size: cover;
    };
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#skills_logos_div_projects{
    width: 70vw;
    display: flex;
    flex: {
    direction: row;
    wrap: wrap;
    }
    justify-content: center;
}

@media (max-width: 600px){

    .projects{
        height: 420vh;
    }
    #project_div{
        height: 210vh;
        flex-direction: column;
    }
    #project1_info{
        height: 110vh;
        width: 100vw;
    }
    #project2_info{
        height: 110vh;
        width: 100vw;
    }
    #project1_carousel{
        width: 100vw;
    }
    #project2_carousel{
        width: 100vw;
    }
    #project2_info_dim{
        height: 110vh;
        width: 100vw;
    }
    #project1_info > div > h1{
        font-size: 325% !important
    }
    #skills_logos_div_projects{
        width: 70vw !important
    }
    // .bio{
    //   height: 210vh;
    //   width: 100vw;
    //   display: flex;
    //   flex-direction: column;
    // }
    // #bio_left{
    //   width: 100vw;
    //   height: 110vh;
    // }
    // #bio_right{
    //   width: 100vw;
    // }
    // #bio_image{
    //   height: auto;
    //   width: 90vw;
    // }
}
