$display: flex;

.bio{
    height: 100vh;
    width: 100vw;
    background-image: url('../../Photos/fern.jpg');
    background-size: cover;
    display: flex;
    flex-direction: row;
  }

  #bio_left{
    height: 100vh;
    width: 50vw;
    background-image: url('../../Photos/white-wall.jpg');
    background-size: cover;
    display: $display;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #bio_paragraph{
    font: {
      family: 'IM Fell English SC';
      size: 170%;
    };
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: justify;
  }
  #skills_link_div{
    display: $display;
    flex-direction: row;
    align-items: center;
  }
  #arrow_left{
    width: 50px;
    transform: rotateY(180deg) rotate(10deg);
    margin-right: 15px;
  }
  #arrow_right{
    width: 50px;
    transform: rotate(-10deg);
    margin-left: 15px;
  }

  #bio_right{
    height: 100vh;
    width: 50vw;
    display: $display;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #bio_image{
    height: 90vh;
    box-shadow: 5px 0 5px 5px black
  }

  @media(max-width: 600px){
    .bio{
      height: 210vh;
      width: 100vw;
      display: flex;
      flex-direction: column-reverse;
    }
    #bio_paragraph{
      font-size: 150%;
    }
    #bio_left{
      width: 100vw;
      height: 110vh;
    }
    #bio_right{
      width: 100vw;
    }
    #bio_image{
      height: auto;
      width: 90vw;
    }
  }