.contact{
    width: 100vw;
    height: 100vh;
    background: {
        image: url('../../Photos/abstract-multi.jpg');
        size: cover;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#linkedin{
    border: {
        color: white;
        size: 2px;
        style: solid;
        radius: 5px;
    }
    padding: 5px;
}

#arrow_left_end{
    width: 50px;
    transform:  rotate(190deg);
    margin-right: 15px;
}

#arrow_right_end{
    width: 50px;
    transform: rotateY(180deg) rotate(-170deg);
    margin-left: 15px;
}